<!--
    Author(a): Luis Miguel Echeverri
    Date of the creation: 11/09/2024
    Last Modification: 11/09/2024 | 11:28Am
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuboVaquita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!--THREE JS-->
    <script src="../Libs/three.min.js"></script>
    <script src="../Libs/OrbitControls.js"></script>
    <script src="../js/MainL.js"></script>

</head>
<body onload="startScene()">

    <div id="canvas-container">
    <div style="z-index: 9;">  



        <button onclick="showinput('torusdex')" type="button" class="btn btn-dark" >Torus</button>
        <button onclick="showinput('boxdex')" type="button" class="btn btn-dark" >Box</button>
        <button onclick="showinput('conedex')"type="button" class="btn btn-dark" >Cone</button></div>

    </div>

    <div id="torusdex" style="display: none;">
        <input id="radio torus" type="number" placeholder="RADIO">
        <input id="tubo torus" type="number" placeholder="TUBO">
        <input id="segmentos radiales" type="number" placeholder="SEGMENTOS RADIALES">
        <input id="segmentos tubulares torus" type="number" placeholder="SEGMENTOS TUBULARES">
        <button onclick="deleteGeometry(),createGeometry('torus')" type="button" class="btn btn-dark" >Crear</button>

    </div>

    <div id="boxdex" style="display: none;">
        <input id="anchura" type="number" placeholder="ANCHURA">
        <input id="profundidad" type="number" placeholder="PROFUNDIDAD">
        <input id="altura" type="number" placeholder="ALTURA">
        <button onclick="deleteGeometry(),createGeometry('box')" type="button" class="btn btn-dark" >Crear</button>
    </div>

 
    <div id="conedex" style="display: none;">
        <input id="radio cono" type="number" placeholder="RADIO">
        <input id="altura cono" type="number" placeholder="ALTURA">
        <input id="segmentos radiales cono" type="number" placeholder="SEGMENTOS RADIALES">
        <button onclick="deleteGeometry(),createGeometry('cone')" type="button" class="btn btn-dark" >Crear</button>
    </div>
       
    
</div>

    <div id="canvas-container">

        
        <canvas id="app"></canvas>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> 
    
</body>
</html>